{% extends 'plantillas/base.html' %}
{% load static %}
{% block contenido %}
<div class="untree_co-section">
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-lg-6 text-center">
				<h2 class="section-title text-center mb-3">Nuestros Servicios</h2>
				<p>Ofrecemos la compra de tickets desde la comodidad de tu hogar en los destinos seleccionados</p>
			</div>
		</div>
		<div class="py-5 cta-section">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-12">
						<h2 class="mb-2 text-white">Reserva y compra con nosotros ahora!!</h2>
						<p class="mb-4 lead text-white text-white-opacity"></p>
						<p class="mb-0"><a href="{% url 'captura_ticket' %}" class="btn btn-outline-white text-white btn-md font-weight-bold">Reserva</a></p>
					</div>
				</div>
			</div>
		</div>

		</div>
	</div>
</div>
{% endblock %}